<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>

    <!-- remix icon cdn link  -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="./css/account.css" />
    <link rel="stylesheet" href="./css/home.css" />
  </head>

  <body>
    <!-- header section starts  -->
    <header class="header">
      <a href="/home" class="logo"
        ><i class="ri-menu-line"></i>VOUCHER CARD</a
      >
      <form action="#" class="search-form">
        <input type="search" placeholder="search anything" id="search-box" />
        <label for="search-box" class="ri-search-line"></label>
      </form>
      <div class="icons">
        <div id="menu-btn" class="ri-menu-line"></div>
        <div id="search-btn" class="ri-search-line"></div>
        <div id="cart-btn" class="ri-shopping-cart-line"><p id="count">0</p></div>
        <div class="ri-heart-line" id="like-btn"><p id="likecount">0</p></div>
        <div id="login-btn" class="ri-user-line"></div>
      </div>
    </header>

    <!-- header section ends  -->

    <!-- closer btn  -->
    <div id="closer" class="ri-close-line"></div>

    <!-- navbar start  -->

    <div class="navbar">
      <a href="home.html">Home</a><a href="/about">about us</a><a href="/products">products</a><a href="/contact">contact us</a>
    </div>

    <!-- navbar end  -->

    <!-- shopping cart start  -->

    <div class="shopping-cart"  >



        <div class="shopping-cart1" id="addingtothecart">
          <p style="font-size: 2rem;">Your cart is empty</p>
        </div>
       
       
        
        
        
        
        <h3 class="total" id="total">Total : <span> Rs</span> </h3>
        <a href="#" class="checkoutbtn">checkout</a> 
    </div>





 <div class="like-cart"  >



        <div class="like-cart1" id="addingtothelikecart">
          <p style="font-size: 2rem;">Your cart is empty</p>
        </div>
       
       
        
        
        
        
        <h3 class="total" id="total">Total : <span> Rs</span> </h3>
        <a href="#" class="checkoutbtn">checkout</a> 
    </div>

    <!-- shopping cart end  -->

   

    <!-- login form end  -->




<!-- Account page -->
<div class="Account">
    <a href="/myaccount">My Account</a>
    <a href="/home">My Orders</a>
    <a href="/products">My Wishlist</a>

     <form action="/home" method="post">
        <button type="submit">Sign Out</button>
    </form>

 </div>

<!-- Account page ends -->







    <!-- home section starts  -->

    <section class="home">
      <div class="slides-container">
        <div class="slide active">
          <div class="content">
            <span>#1 Best Seller</span>
            <h3>Lymio Hoodies</h3>
            <p>
              Veirdo Cotton Fleece Regular Fit Hooded Sweatshirt Full Sleeves
              Vision of Perfection Front Graphic Printed Jumper Beige Winter
              Sweatshirt for Men
            </p>
            <br />
            <a href="#" class="shop-btn">shop now</a>
          </div>
          <div class="image">
            <!-- <img src="image/home-img-1.png" alt=""> -->
            <img src="image/cloth1.png" alt="" />
            <!-- <img src="/macbook.jpg" alt=""> -->
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <span>#1 Best Seller</span>
            <h3>Handy Chopper</h3>
            <p>
              Pigeon by Stovekraft Ultra Premium Handy Chopper with 3 Blades for
              Effortlessly Chopping Vegetables and Fruits for Your Kitchen
              (Green, 400 ml, 12420)
            </p>
            <a href="#" class="shop-btn">shop now</a>
          </div>
          <div class="image">
            <img src="image/kitchen1.png" alt="" />
          </div>
        </div>
      </div>
      <div id="slide-next" onclick="next()" class="ri-arrow-right-line"></div>
      <div id="slide-prev" onclick="prev()" class="ri-arrow-left-line"></div>
    </section>

    <!-- home section ends -->

    <!-- banner section starts  -->

    <section class="banner-container">
      <div class="banner">
        <img src="image/appletab.jpg" alt="" />
        <div class="content">
          <span>limited offer</span>
          <h3>upto 50% off</h3>
          <a href="#" class="shop-btn">shop now</a>
        </div>
      </div>
      <div class="banner">
        <img src="image/bag.jpg" alt="" />
        <div class="content">
          <span>limited offer</span>
          <h3>upto 50% off</h3>
          <a href="#" class="shop-btn">shop now</a>
        </div>
      </div>
      <div class="banner">
        <img src="image/shoes2.jpg" alt="" />
        <div class="content">
          <span>limited offer</span>
          <h3>upto 50% off</h3>
          <a href="#" class="shop-btn">shop now</a>
        </div>
      </div>
    </section>

    <!-- banner section ends -->

    <!-- list-items-card -->
    

    <div class="list-items-card">
      <div class="card">
        <a href="about.html">
          <img src="/image/mobile.jpg" class="card-img-top" alt="..." />

          <h5 class="card-title">Mobiles & Accessories</h5>
        </a>
      </div>
      
      <div class="card">
        <a href="about.html">
          <img src="/image/kitchen.jpg" class="card-img-top" alt="..." />
  
          <h5 class="card-title">Home & Kitchen</h5>
        </a>
      </div>
      <div class="card">
        <a href="about.html">
          <img src="/image/clothes.jpg" class="card-img-top" alt="..." />
  
          <h5 class="card-title">Clothing  & Accessories</h5>
        </a>
      </div>
      <div class="card">
        <a href="about.html">
          <img src="/image/cosmetics.jpg" class="card-img-top" alt="..." />
  
          <h5 class="card-title">Women's fashion & Cosmetics</h5>
        </a>
      </div>
      <div class="card">
        <a href="about.html">
          <img src="/image/shoes1.jpg" class="card-img-top" alt="..." />
  
          <h5 class="card-title">Shoes  <br> Sports & Formals</h5>
        </a>
      </div>
    </div>
    

    <!-- footer section start  -->

    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>quick links</h3>
          <a href="/account"><i class="ri-arrow-right-line">Home</i></a>
          <a href="/products"><i class="ri-arrow-right-line">Products</i></a>
          <a href="/about"><i class="ri-arrow-right-line">about</i></a>
          <a href="/contact"><i class="ri-arrow-right-line">contact</i></a>
       
        </div>
        <div class="box">
          <h3>quick links</h3>
          <a href="/home"><i class="ri-arrow-right-line">my order</i></a>
          <a href="/account/products" id="wishlisthomefooter" ><i class="ri-arrow-right-line">my wishlist</i></a>
          <a href="/myaccount"><i class="ri-arrow-right-line">my account</i></a>
        
          <a href="#"><i class="ri-arrow-right-line">terms of user</i></a>
        </div>
        <div class="box">
          <h3>quick links</h3>
          <a href="#"><i class="ri-facebook-fill">Facebook</i></a>
          <a href="#"><i class="ri-twitter-fill">twitter</i></a>
          <a href="#"><i class="ri-instagram-fill">instagram</i></a>
          <a href="#"><i class="ri-linkedin-box-fill">linkedin</i></a>
          <a href="#"><i class="ri-pinterest-fill">pinterest</i></a>
          <a href="#"><i class="ri-messenger-fill">messenger</i></a>
        </div>
        <div class="box">
          <h3>newsletter</h3>
          <p>subscribe for latest updates</p>
          <form action="#">
            <input type="email" name="" placeholder="Enter your email" id="" />
            <button type="button" class="sum-btn">Subscribe</button>
          </form>
        </div>
      </div>
    </section>
    <section class="credit">
      Created by Code with Surendra Kumar || all rights reserved!
    </section>

    <!-- footer section end  -->

    <!-- custom js file link  -->
    <!-- <script src="js/script.js"></script> -->
    <script src="./js/account.js"></script>
    <script src="js/loginscript.js"></script>
  </body>
</html>
