<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <link rel="stylesheet" href="css/myaccount.css" />
  </head>
  <body>
    <div class="a-container">
      <h1> My Account</h1>


      
      <div class="a-section">

        <div class="card">
          <div class="a-img">
            <img src="/image/a-img1.png" alt="" />

            <div class="desc">
              <h3>Your Orders</h3>
              <p>Track , Return or Buy things again</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="a-img">
            <img src="/image/a-img2.png" alt="" />

            <div class="desc">
              <h3>Login & Security</h3>
              <p>Edit Login ,Name & Mobile Number</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="a-img">
            <img src="/image/a-img3.png" alt="" />

            <div class="desc">
              <h3>Prime</h3>
              <p>View benifits & Payment Settings</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="a-img">
            <img src="/image/a-img4.png" alt="" />

            <div class="desc">
              <h3>Your Addresses</h3>
              <p>Edit addresses for orders & gifts</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="a-img">
            <img src="/image/a-img5.png" alt="" />

            <div class="desc">
              <h3>Payment Options</h3>
              <p>Edit or add payment methods</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="a-img">
            <img src="/image/a-img6.png" alt="" id="image-6" />

            <div class="desc">
              <h3>Amazon Pay Balance</h3>
              <p>Add Money to our Balance</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
