@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

body {
    background-color: #faf7f6;
    background-color: #e1cec7;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #eae0dc;
}

html::-webkit-scrollbar-thumb {
    background: #b58d7e;
} 

section {
    padding: 3rem 9%;
}

::selection {
    background-color: #e1cec7;
    color: #31231e;
}

.heading {
    background: #e1cec7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 2%;
    border-radius: 3rem;
}

.heading h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #5e473e;
}

.heading p {
    font-size: 2rem;
    color: #31231e;
}

.heading p a {
    color: #5e473e;
}

.heading p a:hover {
    color: #845f51;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid #5e473e;
    padding-bottom: 1.5rem;
}

.title span {
    font-size: 2.5rem;
    color: #5e473e;
}

.title a {
    font-size: 1.5rem;
    color: #b58d7e;
}

.title a:hover {
    transform: translateX(-3px);
    color: #9e7464;
}

.checkoutbtn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #b58d7e, #845f51);
    color: #faf7f6;
    cursor: pointer;
    border-radius: 1rem;
}
.sum-btn {
    /* display: inline-block; */
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    /* letter-spacing: 1px; */
    background: linear-gradient(135deg, #b58d7e, #845f51);
    color: #faf7f6;
    cursor: pointer;
    border-radius: 1rem;
    width: 45%;
}
.shop-btn {

 
    padding: 1rem 3rem;
    font-size: 1.7rem;
    /* letter-spacing: 1px; */
    background: linear-gradient(135deg, #b58d7e, #845f51);
    color: #faf7f6;
    cursor: pointer;
    border-radius: 1rem;
    width: 45%;
}
/* .buy-btn { */
    /* position: absolute; */
    /* top: 80%; */
    /* left: 48%; */
    /* display: inline; */
    /* margin-top: 1rem; */
    /* margin-right: 2rem; */
    /* padding: 1rem 0rem; */
    /* font-size: 1.7rem; */
    /* letter-spacing: 1px; */
    /* background: linear-gradient(135deg, #b58d7e, #845f51); */
    /* color: #faf7f6; */
    /* cursor: pointer; */
    /* border-radius: 1rem; */
    /* width: 48%; */
    /* text-align: center; */
    /* font-size: 2rem; */
/* }  */

.checkoutbtn:hover {
    letter-spacing: 2px;
    background: linear-gradient(135deg, #945f51, #b58d7e);
}
.sum-btn:hover {
    letter-spacing: 2px;
    background: linear-gradient(135deg, #945f51, #b58d7e);
}
.shop-btn:hover {
    
    letter-spacing: 1px;
    background: linear-gradient(135deg, #945f51, #b58d7e);
}

/* header section start */
 .header{
    padding: 2rem 9%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #f0e8e4;
    display: -webkit-box;
    -webkit-box-align: center;
    -ms-flex-align:center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 2rem 2rem;
    display: -ms-flexbox;
    display: flex;


 }

 .header .logo{
    font-size: 2.5rem;
    color: #5e473e;
    font-weight: 500;
 }

 .header .search-form{
    height: 5rem;
    width: 50rem;
    border-radius: 0.75rem;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    background: #f0e8e4;
    align-items: center;
    border: 0.1rem solid #caab9f ;

 }

 .header .search-form input{
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: #5e473e;
    background: transparent;
 }

 .header .search-form input::placeholder{
    color: #5e473e;
 }

 .header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.7rem;
    cursor: pointer;
    color: #5e473e;

 }
 .header .search-form label:hover{
    color: #9e7464;
 }
 .header .icons{
    display: flex;
    align-items: center;

 }
  .header .icons div {
    margin-left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #5e473e;
  }
  .header .icons div:hover {
    color: #9e7464;
  }

#search-btn{
    display: none;
}


/* header section end */


@keyframes rotate{
    0%{
        transform: rotate(200deg);
    }
}


#closer{
    position: fixed;
    top: 5rem;
    right: 4rem;
    font-size: 5rem;
    z-index: 10000;
    color: #5e473e;
    animation: rotate 0.4s linear;
    display: none;

}
#closer:hover{
    color: #9e7464;
}
/* navbar start */

.navbar{
    position: fixed;
    top: 1.5%;
    bottom: 1.5%;
    right: -100%;
    /* right: 0; */
    z-index: 1000;
    width: 35rem;
    background: #f0e8e4;
    display: flex;
    margin: 2%;
    border-radius: 3rem;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
.navbar.active{
    right: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
    box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
    transition: 0.5s linear;
}
.navbar a{
    margin: 1rem 0;
    font-size: 2.5rem;
    color: #5e473e;
}
.navbar a:hover{
    color: #9e7464;
}



/* navbar end */


/* shopping cart start */

.shopping-cart{
    position: fixed;
    top: 1.5%;
    bottom: 1.5%;
    right: -100%;
    /* right: 0; */
    z-index: 1000;
    width: 35rem;
    background: #f0e8e4;
    padding: 2rem;
    padding-top: 8rem;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 2%;
    border-radius: 3rem;

}
.shopping-cart.active{
     right: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
    box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
    transition: 0.5s linear;
}
.shopping-cart::-webkit-scrollbar{
    width: 0;
}
.shopping-cart::-webkit-scrollbar-track{
    background: #eae0dc;
}
.shopping-cart::-webkit-scrollbar-thumb{
    background: #b58d7e;
}
.shopping-cart .box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
    align-items: center;
    padding: 0.75rem;
    background: #faf7f6;
    border-radius: 1rem;

}
.shopping-cart .box .close-icon{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #5e473e;
    cursor: pointer;
}
.shopping-cart .box .close-icon:hover{
    color: #9e7464;
}


.shopping-cart .box img {
    border-radius: 0.65rem;
    height: 8rem;
}
.shopping-cart .box .content h3{
    color: #5e473e;
    font-size: 1.7rem;
    padding-bottom: 0.5rem;

}
.shopping-cart .box .content span{
    font-size: 1.5rem;
    color: #b58d7e;
}
.shopping-cart .box .content span.multiply {
    margin: 0 1rem;
}
.shopping-cart .total{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    color: #845f51;

}
.shopping-cart .total span{
    color: #5e473e;
}
.shopping-cart .checkoutbtn{
    /* position: absolute;
    left: 0;
    margin: 2rem; */
    width: 100%;
    text-align: center;
}



/* shopping cart end */


/* login form start */
.login-form{
    position: fixed;
    top: 5px;
    /* bottom: 0%; */
    right: -100%;
    /* right: 0; */
    height: 100vh;
    z-index: 1000;
    width: 55rem;
    background: #f0e8e4;
    padding: 2rem;
    /* padding-top: 8rem; */
    overflow-y: scroll;
    
    margin: 1%;
    border-radius: 4rem;
    
    bottom: 1.5%;
   
   
   
    
    
    
    
   
   

}
.login-form.active{
     right: 0;
    /* -webkit-box-shadow: 0 0 0 100vw rgba(0,0,0,0.5); */
    box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
    transition: 0.5s linear;
}


.container{
    position: absolute;
    top: 1%;
    left: 10%;
    width: 45%;
    height: 100vh;
    /* font-family: sans-serif; */
    /* background-image: url(/TEST1.jpg); */
    /* background-position:bottom ; */
    /* background-size: cover; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    
    /* margin: 100px; */
    @media screen and (max-width: 600px)  {
        width: 10%;
        height: 100vh;
    /* font-family: sans-serif; */
    /* background-image: url(/TEST1.jpg);
    background-position:center ;
    background-size: cover; */
    /* display: flex; */
    /* height: 50%; */
    /* align-items: center; */
    /* justify-content: center; */
    }
}

.card{
    position: absolute;
    top: 5%;
    left: 5%;
    background: black;
    background: transparent;
    width: 420px;
    height: 590px;
    /* box-shadow: 0 0 40px 20px rgba(0,0,0,0.5); */
    perspective: 1000px;
    border: 1px solid #caab9f;
    border-radius: 3rem;
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    /* transform: rotateY(180deg); */
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-front,.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    /* padding: 50px; */
    box-sizing: border-box;
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);
}

.card-front h1{
    text-align: start;
    font-size: 30px;
    margin: 20px;
}
.card-back h1{
    text-align: start;
    font-size: 30px;
    margin: 20px;
}
.card-front #name{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 21%;
    left: 1%;
}
.card-back #email{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 24%;
    left: 1%;
}
.card-front #email{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 34%;
    left: 1%;
}
.card-front #pass1{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 46%;
    left: 1%;
}
.card-back #pass1{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 38%;
    left: 1%;
}
.card-front #pass2{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 59%;
    left: 1%;
}

.card-front .input-box{
    margin-left: 10px;
    width: 85%;
    background: transparent;
    /* border: 0px solid black; */
    height: 25px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 22px;
    /* margin-bottom: 40px; */
    margin-top: 50px;
    margin-left: 50px;
    /* text-align: center; */
    border-bottom: 2px solid black;
    text-transform: none;
}
.card-back .input-box{
    margin-left: 10px;
    width: 85%;
    background: transparent;
    border: 0px solid black;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 22px;
    /* margin-bottom: 40px; */
    margin-top: 50px;
    margin-left: 50px;
    /* text-align: center; */
    border-bottom: 2px solid black;
}



::placeholder{
    color: black;
}

.sumbit-btn{
    width: 96%;
    position: absolute;
    top: 70%;
    left: 0%;
    background: transparent;
    border: 1px solid black;
    height: 40px;
    font-size: 23px;
    border-radius: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    margin: 35px 10px 0px 10px ;
}


.sumbit-btn:hover{
    background: grey;
}
/* .card-front a{} */
    /* top: 50%; */
    /* text-decoration: none; */
    /* display: block; */
    /* text-align: end; */
    /* font-size: 20px; */
    /* margin: 75px 12px 0 0; */


form #forgot{
    position: absolute;
    left: 60%;
    color: black;
    top: 68%;
    text-decoration: none;
    font-size: 1.9rem;
}
.card-back  #forgot{
    position: absolute;
    left: 62%;
    color: black;
    top: 68%;
    text-decoration: none;
}
.card #rem{
   position: absolute;
   left: 5%;
   top: 68%;
   font-size: 20px;
   /* color: black; */
   
     
}
.card #remback{
    position: absolute;
   left: 5%;
   top: 68%;
   font-size: 20px;
   color: black;
     
}
.card #accountregister{
    position: absolute;
    top: 81%;
    left: 0;
    font-size: 2.2rem;
    margin-left: 20px;
    margin-top: 35px;
    color: black;
}
.btn{
    position: absolute;
    top: 85%;
    left: 69%;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 12px;
    background: transparent;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    padding: 6px;
}

.btn:hover{
    background: grey;
}



/* footer-start */

.footer{
    
    margin: 2%;
    border-radius: 3rem;
    background: #f0e8e4;
   

}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,2fr));
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #5e473e;
    padding: 1rem 0;
}
.footer .box-container .box p{
    font-size: 1.6rem;
    color: #b58d7e;
    padding: 1rem;
}
.footer .box-container .box a{
    font-size: 1.7rem;
    color: #5e473e;
    padding: 1rem 0;
    display: block;
    display: flex;
    align-items: center;

}

.footer .box-container .box a:hover i {
    padding-right: 2.5rem;
    color: #5e473e;
    font-size: 2rem;
}


.footer .box-container .box form input[type="email"] {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #5e473e;
    text-transform: none;
    margin: 0.7rem 0;
    background: transparent;
    border-radius: 0.75rem;
    border: 0.1rem solid #caab9f;
}
.footer .box-container .box form input[type="email"]::placeholder{
    color: #5e473e;
}

.credit{
    text-align: center;
    font-size: 2rem;
    color: #5e473e;
    background: #f0e8e4;
    margin: 2%;
    border-radius: 3rem;

}
/* footer-end */


@keyframes fadeout {
    0%{
        -webkit-transform:scale(0.5);
        opacity: 0;
    }
}

@keyframes fadeleft{
    0%{
        transform:translateX(-5rem);
        opacity:0;
    }
}



/*home section start*/

.home{
    position: relative;
    margin: 2%;
    border-radius: 3rem;
    background-color: #f0e8e4;

}

.home .slides-container .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flexbox;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none;
}

.home .slides-container .slide.active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.home .slides-container .slide .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    animation: fadeleft .4s linear .4s backwards;
}

.home .slides-container .slide .content span{
    font-size: 2.5rem;
    color: #b58d7e;
}
.home .slides-container .slide .content h3 {
    font-size: 6rem;
    color: #5e473e;
}

.home .slides-container .slide .content p{
    font-size: 1.5rem;
    color: #b58d7e;
    padding: 0.5rem 0;
    line-height: 2;
}


.home .slides-container .slide .image{
    box-flex: 1;
    flex:1 1 40rem;
    padding: 3rem 0;
    background-image: none;
}

.home .slides-container .slide .image img{
    width: 100%;
    animation: fadeout .4s linear;
}

.home #slide-next,
.home #slide-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    text-align: center;
    color: #845f51;
    background: #e1cec7;
    cursor: pointer;
    border-radius: 50%;

}
.home #slide-next:hover,.home #slide-prev:hover{
    background: #845f51;
    color: #ebcdc2;
}
.home #slide-next{
    right: 2rem;
}
.home #slide-prev{
    left: 2rem;
}

/*home section end*/


/*banner section start*/

.banner-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.banner-container .banner{
    background: white;
    height: 25rem;
    overflow: hidden;
    position: relative;
    border-radius: 4rem;

}
.banner-container .banner img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 8rem;

    object-fit: contain;

}
.banner-container .banner:hover img{
    transform: scale(1.1);
}
.banner-container .banner .content{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}
.banner-container .banner .content span{
    font-size: 1.7rem;
    color: #b58d7e;
}
.banner-container .banner .content h3{
    padding-top: 0.5rem;
    font-size: 2.2rem;
    color: #5e473e;
    margin-bottom: 1rem;

}
.banner-container .banner .content .shop-btn{
    padding: 0.7rem 2.5rem;
    /* position: absolute; */
    margin-top: 3rem;
}




/*banner section end*/



/* list-items-card*/
.list-items-card{
    /* width: 100%; */
    position: relative;
   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    

    
}

.list-items-card a{
    position: absolute;
    height: 100%;
    width: 100%;
   
}

.list-items-card .card{
    
    position: relative;
    width: 25rem!important;
    height: 32rem;
    margin-right: 2rem;
    left: 10rem!important;
     overflow: hidden;
    position: relative;
    margin-top: 2rem;
    border: 2px solid #caab9f!important;
    box-shadow: none;
    outline: none;
    border: none;
    
}


.list-items-card .card:hover{
    transform: scale(1.1);
    transform: fadeout 0.4s linear;
   
}

.list-items-card .card img{
    width: 25rem;
    height: 22rem;
    /* object-fit: cover; */
    background-position: center;
    background-size: cover;
    
}
.list-items-card .card-title{
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 2.4rem;
    margin-top: 1rem;
    color: #5e473e;
}




/* list-items-card */
















/* responsive */


/* 
@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }

    .card-front{
        width: 87%;
    }
    .card{
        width: 85%;
    }
   
} */
/* login form end */








/* home page start */

    /* ---- banner section ---- */

/* home page end */


/* shop page start */

    /* ---- categories ---- */

    /* ---- product section ---- */

/* shop page end */


/* about page start */

    /* ---- about section ---- */

    /* ---- services section ---- */

/* about page end */


/* team page start */

/* team page end */


/* blog page start */

/* blog page end */


/* contact page start */

/* contact page end */


/* footer start */

/* footer end */


/* responsive start */

/* responsive end */