.product-container{
    width: 100%;
    
    display: flex;
     
     
}
.product-filter{
    position: relative;
    width: 25%;
    /* height: 100vh; */
    padding: 3rem 2rem;

}
.filter{
    position: absolute;
    width: 100%;
    padding: 2rem;
}
.filter label{
    display: block;
    font-size: 2.5rem;
    margin: 2rem;
}
.filter .category input{
    height: 2rem;
    width: 1.7rem;
    margin-right: 1rem;
}




.product-right-container{
    width: 75%;
}
.product-items-container{
    width: 100%;
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
   
    border-radius: 2rem;
}




.product-div{
    border: 1px solid black;
    /* background: black; */
    width: 22%;
    height: 43vh;
    border-radius: 2rem;
    /* overflow: hidden; */
    position: relative;

}
.product-div img{

 background: none;
 width: 100%;
 height: 60%;
 /* background-position: top; */
 background-size: contain;
}

.product-div span{
    
    width: 100%;
    font-size: 1.5rem;
    
   

}

.rating-price{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.9rem;
    gap: 2rem;
    left: 2.8rem;
    
}
.rating-price i{
    color: rgb(238, 238, 94);
    margin-right: 2px;
}
.cart-like{
    position: absolute;
    top: 85%;
    font-size: 3rem;
    left: 40%;
} 
